:root {
  --p-shadow-from-dim-light: rgba(8, 7, 8, 0.2);
  --p-shadow-from-ambient-light: rgba(24, 21, 24, 0.05);
  --p-shadow-from-direct-light: rgba(8, 7, 8, 0.15);
  --p-top-bar-shadow: 0 2px 2px -1px var(--p-shadow-from-direct-light);
  --border: rgba(225, 227, 229, 1);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(8, 7, 8);
}

.header {
  box-sizing: border-box;
  padding: 12px;
  box-shadow: var(--p-top-bar-shadow);
  background: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.below-header {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 0.66em 0.66em 0em 0.66em;;
}

.left-screen-nav-menu {
  height: 100%;
  border-right: 0.0625rem solid var(--border);
}

.main-panel {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
}

.main-panel-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-item:hover {
  cursor: pointer;
}


.resource-list {
  width: 100%;
}

.create-resource {
  width: 50%;
  max-height: 80vh;
}

.agent-view-card {
  width: 50%;
  max-height: 80vh;
}

.resource-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--sl-spacing-small);
}

.resource-list-table-header {
  font-weight: 500;
}

.resource-list-resource-name {
  font-weight: 600;
}

.resource-list-table-header,
.resource-list-table-item {
  border-bottom: 0.0625rem solid var(--border);
}

.resource-list-table-header,
.resource-list-table-item {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.resource-list-table-header > div,
.resource-list-table-item > div {
  box-sizing: border-box;
  padding: var(--sl-spacing-small);
}

/* checkbox */
.resource-list-table-header > div:nth-child(1),
.resource-list-table-item > div:nth-child(1) {
  width: 5%;
}
/* image */
.resource-list-table-header > div:nth-child(2),
.resource-list-table-item > div:nth-child(2) {
  width: 5%;
}
.resource-list-table-item > div:nth-child(2) img {
  height: 45px;
  width: 45px;
}
/* resource name */
.resource-list-table-header > div:nth-child(3),
.resource-list-table-item > div:nth-child(3) {
  width: 40%;
}

/* 4th is agent */
.resource-list-table-header > div:nth-child(4),
.resource-list-table-item > div:nth-child(4) {
  width: 10%;
}

/* quantity */
.resource-list-table-header > div:nth-child(5),
.resource-list-table-item > div:nth-child(5) {
  width: 15%;
}
.resource-list-table-item > div:nth-child(5) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resource-list-resource-quantity {
  width: 60px;
  margin-right: var(--sl-spacing-small);
}

.resource-select-menu-item {
  width: 100%;
}
.resource-select-menu-item > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Common Styles */

/*
Currently using a color scheme based off the color relations here
  https://coolors.co/080708-817f75-3d6382-71bffc-da3e65-f1ffe7-f7e594-fdca40-74181f-df2935
  https://coolors.co/080708-817f75-3d6382-71bffc-da3e65-f1ffe7-f7e594-f2abaf-74181f-df2935
  https://coolors.co/080708-3d6382-71bffc-817f75-f7e594-f1ffe7-f2abaf-da3e65-558564-df2935
  https://coolors.co/080708-157145-3d6382-71bffc-817f75-f7e594-f1ffe7-f2abaf-da3e65-df2935
*/

.resource-specification-colors {
  border-color: #71bffc !important;
  background: #71bffc;
}

.resource-specification-selected {
  border-color: #3D6382 !important;
}

.process-colors {
  border-color: #F7E594 !important;
  background: #F7E594;
}

.process-shape {
  border-radius: 10px;
}

.process-selected {
  border-color: #817F75 !important;
}

.react-flow__selection {
  background-color: #817f7560 !important;
  border-color: #FDCA4077 !important;;
}

.react-flow__nodesselection-rect {
  background-color: #FDCA4060 !important;
  border-color: #817F7577 !important;
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke: #080708 !important;
}

.react-flow__arrowhead polyline {
  stroke: #157145;
  fill: #157145;
}

.react-flow__edge .react-flow__edge-path {
  stroke: #157145 !important;
  stroke-width: 2px;
}

.react-flow__connection .react-flow__connection-path{
  stroke:#080708;
  stroke-width: 2px;
}


/* Pallet */

.pallet-node {
  border: 2px solid;
  margin: 9px 7px 9px 7px;
  padding: 4px;
  text-align: center;
  box-shadow: 0.13em 0.13em 0.25em #ccc !important;
}

.pallet-styles {
  flex-basis: 15%;
  overflow-y: scroll;
  max-height: 89vh;
}

.category-styles {
  background: #eaeaea;
  padding: 5px;
}

.category-styles h2 {
  padding: 0em;
  margin: 0em;
  font-size: 18px;
}

/* Canvas Styles */

.canvas-node-base {
  border: 2px solid;
  width: 125px;
  height: 2em;
  box-shadow: 0.13em 0.13em 0.25em #ccc !important;
}

.canvas-node-body {
  font-size: 10px;
  padding-left: 12px; 
  padding-right: 12px;
  text-align: center;
}

.canvas-node-header-base {
  border-bottom-width: 1px; 
  border-bottom-style: solid;
  font-size: 10px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.canvas-node-handle-base {
  width: 8px !important;
  height: 8px !important; 
  background-color: #d1e0ea !important;
  border: #a7a7a7 solid 1px !important;
  position: absolute !important;
}

.canvas-node-handle-right {
  right: -4px !important;
}

.canvas-node-handle-left {
  left: -4px !important;
}

/* New Agent */
.new-agent-card {
  display: block;
  flex-basis: 100%;
}

.new-agent-card:last-child {
  margin-left: 40px;
}

.rf-provider-container {
  flex-basis: 85%;
}

.rea-flow-canvas {
  border: #eaeaea 2px solid;
  height: 89vh !important;
  width: auto !important;
}

/* pi-hacker-button */

.pi-hacker-row {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
  text-align: right;
}

.pi-hacker-spacer {
  display: flex;
  flex-direction: column;
  width: 98vw;
  text-align: right;
}

.pi-hacker-button {
  color: #aaa;
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
  align-content: flex-end;
  width: 2vw;
  text-align: right;
  margin: 0.3em;
}

/* profile-prompt */

.profile-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* modal styling */

.modal-close {
  position: absolute;
  top: 0px;
  right: 0px;
  left: auto;
}

.modal-title {
  font-size: 1.33em;
  font-weight: bolder;
  margin-top: 0em;
  margin-bottom: 0.66em;
}

.modal-form {
  height: 100%;
  position: 'relative';
}

/* form controls */

.scrollable-view {
  overflow-y: scroll;
}

.form-heading {
  display: inline-flex;
  line-height: 2em;
  height: 2em;
  vertical-align: middle;
  padding-bottom: 0.33em;
}

.measurementInput {
  display: flex;
  flex-direction: row;
}

.measurementInput .measurementValue {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.measurementInput .measurementSpacer {
  display: flex;
  flex-direction: column;
  width: 4%;
}

.measurementInput .measurementUnit {
  display: flex;
  flex-direction: column;
  width: 48%;
  align-content: flex-end;
}

/* Slide-panel */

.panel-container {
  display: block;
  overflow-x: hidden;
  width: 100%;
}

.panel-slider {
  display: flex;
  flex-direction: row;
  width: 200%;
}

.panel-slider .panel {
  z-index: 2000;
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
}

.panel-slider .open {
  margin-left: -50%;
  transition: margin 400ms ease-in-out;
}

.panel-slider .close {
  margin-left: 0%;
}
